$black-color: #222224;
$pink-color: #F16D7F;
$lightpink-color: #F1E4E6;
$white-color: #FFFFFF;
$gray-color: #9F9F9F;
$darkblack-color: #000000;
$lightgray-color: #5D5D5D;
$lightergray-color: #FBFBFB;


body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;  
}

.header {
    background-color: $black-color;

    &__wrapper {
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo_wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin: 0 41px 0 0;
    }

    &__search {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        border: 0;
        margin: 0 0 0 33px;
    }
    &__navigation {
        display: none;
        position: absolute;
        right: 0;
        top: 75px;
        min-width: 232px;
        min-height: 745px;
        background: $white-color;
        border: 1px solid blue;
        padding: 17px 17px 0 34px;
    }
    
    &__navigation_close {
        margin: 0 0 0 210px;
        background: transparent;
    }
    &__navigation_heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $darkblack-color;
        text-transform: uppercase;
    }

    &__navigation_list_heading {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: $pink-color;
        text-transform: uppercase;
        margin: 24px 0 12px 0;
    }

    &__navigation_list a {
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: #6F6E6E;
        margin: 0 0 11px 22px;
        display: block;
    }
}

.intro {
    display: flex;
    align-items: center;
    background-color: $lightpink-color;
    
    &__heading_wrapper {
        width: 100%;
        display: flex;
        justify-content: start;
        padding: 0 0 0 40px;
    }

    &__heading_verticalbox {
        background: $pink-color;
        min-width: 12px;
        min-height: 92px;
        margin: 0 16px 0 0;
    }

    &__heading {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
    }

    &__text {
        font-style: normal;
        font-size: 37px;
        font-weight: 700;
        line-height: 44px;
        display: block;
    }

    &__pink {
        color: $pink-color;
    }
}

.stock {
    
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 65px 0 0 0;
    }

    &__item {
        width: 360px;
        min-height: 260px;
        background-blend-mode: overlay;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item_heading {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        text-align: center;
        color: $white-color;
        text-transform: uppercase;
    }

    &__item_text {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color: $pink-color;
        text-transform: uppercase;

    }

    &__item_woman {
        background: url("../img/img_item_woman.jpg"), rgba(33, 22, 22, 0.7);
    }

    &__item_man {
        background: url("../img/img_item_man.jpg"), rgba(33, 22, 22, 0.7);
    }

    &__item_kids {
        background: url("../img/img_item_kid.jpg"), rgba(33, 22, 22, 0.7);
    }

    &__item_accessoires {
        background: url("../img/img_item_accessoires.jpg"), rgba(33, 22, 22, 0.7);
        width: 100%;
        min-height: 180px;
        margin: 30px 0 0 0;
    }
}

.featured {
    padding: 98px 0 0 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__heading {
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        color: $black-color;        
    }

    &__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: $gray-color;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 48px 0 0 0;
    }

    &__item {
        width: 360px;
        min-height: 581px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
    }

    &__item_heading {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: $darkblack-color;
        margin: 25px 18px 12px 18px;
    }

    &__item_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        color: $lightgray-color;
        margin: 0 18px 0 18px;
    }

    &__item_price {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        color: $pink-color;
        margin: 18px 18px 0 18px;
    }

    &__item_button {
        border: 1px solid $white-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 15px 13px 15px;
        min-width: 138px;
        background: transparent;
        position: absolute;
        top: 420px /2 - 45px / 2;
        left: 360px / 2 - 138px / 2;
        display: none;
    }

    &__item_btntxt {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: $white-color;
    }

    &__item_img {
//        filter: brightness(0.3)    
    }

    &__button {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        color: $white-color;
        padding: 14px 38px;
        background-color: $pink-color;
        border: 1px solid #FF6A6A;
        margin: 48px 0 0 0;
    }
}

.advantages {
    background-color: $black-color;
    margin: 95px 0 0 0;
    min-height: 340px;

    &__list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 100px 0 100px 0;
    }

    &__list_item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item_heading {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $lightergray-color;
        margin: 28px 0 16px 0;
    }

    &__item_text {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        color: $lightergray-color;
        text-align: center;
    }

    &__item_img {
        background: transparent;
        min-height: 40px;
    }
}

.subscribe {
    background: rgba(244, 244, 244, 0.7);

    &__list {
        display: flex;
        justify-content: space-around;
        padding: 100px 0 125px 0;
    }

    &__list_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 360px;
    }

    &__list_item_text, &__list_item_italic {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: $black-color;
    }
    &__list_item_italic {
        font-style: italic;
    }

    &__list_item_img {
        margin: 0 0 30px 0;
    }

    &__list_item_heading, &__list_item_subheading {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        text-transform: uppercase;
        color: $black-color;
        margin: 50px 0 0 0;
    }
    &__list_item_subheading {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        margin: 0 0 32px 0;
    }

    &__list_item_input {
        height: 35px;
        width: 256px;
        border-radius: 25px 0 0 25px;
        background-color: #E1E1E1;
        border: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        color: $black-color;
        opacity: 0.67;
        padding: 7px 22px 7px 22px;
        text-transform: capitalize;
    }
    &__list_item_button {
        height: 49px;
        width: 100px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white-color;
        background: #E05C6E;
        padding: 7px 7px 7px 7px;
        text-transform: capitalize;
        border: 0;
        border-radius: 0 25px 25px 0;
    }
    &__list_input_wrapper {
        display: flex;
        flex-direction: row;
    }
}

.copyright {
    background: $black-color;
    padding: 25px 0 25px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list_social {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    &__list_text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $lightergray-color;
    }

    &__list_social_img {
        background: transparent;
    }

    &__list_social_item, &__list_instagram_item {
        width: 32px;
        height: 32px;
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 4px 0 4px;
    }

    &__list_instagram_item {
        background-color: $pink-color;
    }
}


