body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;  
}

.debuglist {
    display: flex;
    justify-content: start;
    margin: 20px 100px 20px 100px;

    &__link {
        margin: 0 20px 0 20px;
    }

}