.copyright {
    background: $black-color;
    padding: 25px 0 25px 0;

    &__list {
        @include flex-center-space-between;

        @include mobile {
            flex-direction: column-reverse;
        }
    }
    &__list_social {
        display: flex;
        flex-direction: row;
        justify-content: end;

        @include mobile {
            margin: 43px 0 0 0;
        }
    }

    &__list_text {
        @include font(16px,19px,400);
        color: $lightergray-color;

        @include mobile {
            margin: 40px 0 0 0;
        }
    }

    &__list_instagram_icon {
        font-size: 20px;
        color: $white-color;
    }

    &__list_social_icon {
        font-size: 20px;
        color: $black-color;
    }

    &__list_social_item {
        width: 32px;
        height: 32px;
        background-color: $white-color;
        @include flex-center;
        margin: 0 4px 0 4px;

        &:hover {
            background-color: $pink-color;
        }
    
        &:hover .copyright__list_social_icon {
            color: $white-color;
        }
        }

    &__list_instagram_item {
        width: 32px;
        height: 32px;
        background-color: $pink-color;
        @include flex-center;
        margin: 0 4px 0 4px;

        &:hover {
            background-color: $white-color;
        }

        &:hover .copyright__list_instagram_icon {
            color: $black-color;
        }

    }

}