.subscribe {
    background: url("../img/subscribe_background.png"),rgba(244, 244, 244, 0.7);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: color;

    @include desktop {
        background-size: auto 100%;
    }

    @include tablet {
        background-size: auto 100%;
    }

    @include mobile {
        background-size: auto 100%;
    }
    
    &__list {
        display: flex;
        justify-content: space-around;
        padding: 100px 0 125px 0;

        @include tablet {
            flex-direction: column;
            align-items: center;
            padding: 54px 0 140px 0;
        }
    }

    &__list_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;

        @include mobile {
            width: 343px;
        }
    }

    &__list_item_text, &__list_item_italic {
        @include font(20px,24px,400);
        text-align: center;
        color: $black-color;

        @include mobile {
            @include font(18px,21.6px,400);
        }
    }
    &__list_item_italic {
        font-style: italic;
    }

    &__list_item_img {
        margin: 0 0 30px 0;
    }

    &__list_item_heading, &__list_item_subheading {
        @include font(24px,40px,700);
        text-transform: uppercase;
        color: $black-color;
        margin: 50px 0 0 0;

        @include mobile {
            @include font(24px,36.77px,700);
        }
    }
    &__list_item_subheading {
        @include font(18px,30px,400);
        margin: 0 0 32px 0;

        @include mobile {
            @include font(14px,21.45px,400);
        }
    }

    &__list_input_wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &__list_item_input {
        height: 49px;
        width: 256px;
        border-radius: 25px 0 0 25px;
        background-color: #E1E1E1;
        border: 0;
        @include font(14px,17px,400);
        color: $black-color;
        opacity: 0.67;
        padding: 7px 22px 7px 22px;
        text-transform: capitalize;

        @include mobileL {
            width: 72%;
        }
    }
    &__list_item_button {
        height: 49px;
        width: 100px;
        @include font(14px,17px,400);
        color: $white-color;
        background: $pinkbtn-color;
        padding: 7px 7px 7px 7px;
        text-transform: capitalize;
        border: 0;
        border-radius: 0 25px 25px 0;

        @include mobileL {
            width: 28%;
        }
    }

    &__list_item_button:hover {
        background-color: $white-color;
        color: $pink-color;
    }

}